# globs
Makefile.in
*.userprefs
*.usertasks
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.tar.gz
tarballs/
test-results/

# Mac bundle stuff
*.dmg
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
mono_crash.*
*.log
*.tlog
*.tmp
*.tmp_proj
*.pdb
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.ilk
*.meta
*.cachefile
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.vspscc
*.vssscc
*.scc
.builds
*.pidb
*.svclog
*.psess
*.vsp
*.vspx
*.sap
*.e2e

# Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
Generated\ Files/
ipch/
_ReSharper*/
.TemporaryItems/
.axoCover/*
_TeamCity*
nCrunchTemp_*
.*crunch*.local.xml
_Chutzpah*
AutoTest.Net/
.sass-cache/
publish/
AppPackages/
BundleArtifacts/
_Pvt_Extensions
node_modules/
.idea/
.vscode/*
.localhistory/
.vshistory/
.ionide/
.paket/
.fake/
MigrationBackup/
OpenCover/
ASALocalRun/
healthchecksdb
ServiceFabricBackup/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Azure
csx/
*.build.csdef
ecf/
rcf/
*.azurePubxml
PublishScripts/

# Test/Benchmark
*.VisualState.xml
TestResult.xml
nunit-*.xml
BenchmarkDotNet.Artifacts/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Other files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
*.jmconfig
*.GhostDoc.xml
*.mm.*
*.coverage
*.coveragexml
*.dotCover
*.coverage
*.coveragexml
*.opt
*.plg
*.vbw
*.vbp
*.dsw
*.dsp
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
FakesAssemblies/
StyleCopReport.xml
ScaffoldingReadMe.txt
DocProject/
DocProject/buildhelp/
*.HxT
*.HxC
*.hhc
*.hhk
*.hhp
*.HTMLClient/GeneratedArtifacts
*.DesktopClient/GeneratedArtifacts
*.DesktopClient/ModelManifest.xml
*.Server/GeneratedArtifacts
*.Server/ModelManifest.xml
*.code-workspace
*.pyc
__pycache__/
*.binlog
*.nvuser
.cr/personal
tools/**
!tools/packages.config
*.tss
*.msi
*.msp
*.msm
*.cab

